---
layout: custom
TR_visible_title: Live Optimizely Testing Demo
body_class:
- live-demo-page
compact_header: true
page_script: webinar.js
modals:
- webinar_signup
- webinar_confirmation
HTML_page_content: true
---

<div id="page-header">
        <div class="container">
            <h1>{{this.visible_title}}</h1>
        </div><!--/.container-->
    </div><!--/#page-header-->
<div id="page-header-gradient"></div>

<div class="container reasons">
    <div class="row">
        <div class="columns six">
            <img src="//d1qmdf3vop2l07.cloudfront.net/optimizely-marketer-assets.cloudvent.net/raw/live-demo-webinar/calendar-large.png">
        </div>

        <div class="columns six">
            <h3 class="blue">What you'll take away from the demo:</h3>
            <ol class="ordered-rounded-numbers">
                <li>Why you should optimize your audience’s experiences</li>
                <li>How to create a test and segment your audience using Optimizely</li>
                <li>How to read Optimizely results and make iterative changes</li>
            </ol>
        </div>
    </div>
</div>

<div class="full-width bg-white">
    <div class="container">
        <div class="row">
            <div class="columns five offset-one signup-blurb">
                <h4 class="a-center">Sign Up Now for Free</h4>
                <h5 class="a-center">Confirm your spot at a 45-minute walkthrough of Optimizely Testing.</h5>
            </div>
            <div class="columns six">
                <h4 class="a-center">Every Thursday at 11 <span class="small-caps">AM</span> PST / 2 <span class="small-caps">PM</span> EST</h4>
                <div class="row" id="events">
                </div>
            </div>
        </div>
    </div>
</div>
