---
layout: page
TR_seo_title: Acceptable Use Policy
TR_visible_title: Acceptable Use Policy
---
<div class="row">
  <div class="columns ten offset-one">
    {{#each page_data.terms}}
    <p>{{this}}</p>
    {{/each}}
  </div>
</div>
