body.opticon-sessions {
  .sessions-container{
    border-top: 1px solid $opticon-brand-blue;   
    text-align: center;
    padding-top: 20px;

  }
  .session-container{
    background-repeat: no-repeat;
    background-position: top center;
  }

  // .sessions-container { border-top: 1px solid $opticon-brand-blue; }

  .session-details-container {
    text-align: center;
    color: $opticon-text-gray;
    letter-spacing: 0.5px;
    max-width: 300px;
    .session-title { 
      font-size: 1.1em;
      margin-bottom: 0px;
      line-height: 28px;
    }
    .session-speaker {
      font-size: 0.9em;
      line-height: 22px;
    }
  }
  .sessions-section-title {
    text-align: left;
    color: $opticon-brand-blue;
    letter-spacing: 0.46px;
    line-height: 37px;
    margin: 44px 0 0;
  }
} 

@media only screen and (min-width: $tablet-min-width) {
  body.opticon-sessions {
    .flex-container { flex-wrap: wrap; }
    .session-container {
      &__keynote {
        width: 50%;  
      }
      &__breakout {
        width: 33%;
        min-width: 230px;
        padding: 0 5px 0;
      }
      // border-top: 1px solid $opticon-brand-blue; move to container and not to each video
    }
    .session-details-container {
      text-align: left;
      margin-top: 10px;
      &__keynote {
        max-width: 380px;
        padding-left: 40px;
      }
    }
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.opticon-sessions {
    .session-container{
      &__breakout {
        width: 25%;
      }
    }
    .session-details-container {
      &__breakout {
        padding: 0 8px 0 0;
      }
      &__keynote {
        padding-left: 80px;
      }
    }
  }
}
