body.solutions {
  .hero {
    background: $brand-navy-blue;
    text-align: center;
    padding: 115px 0;
  }
  .title {
    color: $white;
    text-align: center;
    &--header {
    }
  }
  .product-tab-container {
    display: flex;
  }
  .product-tab {
    flex: 1;
    &--title {
      text-align: center;
    }
  }
}

@media only screen and (min-width: $tablet-min-width) {
  body.solutions {
  }
}

@media only screen and (min-width: $desktop-min-width) {
  body.solutions {
  }
}
