---
layout: modal_wrapper
wrapper_id: contact-sales-thank-you-wrap
data_modal_id: contact-sales-thank-you
data_modal_name: contact-sales-thank-you
TR_modal_title: Thank you
#modal_sub_header: "Please tell us about yourself and your company (all fields required):"
#primary_button_text: Apply Now
TR_negative_button_text: Sounds good
---
<h4>{{{tr 'Thanks for contacting us. We are processing your inquiry and a member of our partnerships team will reach out to you soon.'}}}</h4> 
{{!-- In the meantime, <a href="/doc.pdf">please review</a> the requirements and benefits of joining our partner program.'}}}</h4> --}}
